body {
  font-family: 'Arial', sans-serif; 
}

h1 {
  text-align: center;
}

.responsive-svg-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1500px;
  /*display: flex;*/
  flex-wrap: wrap;
}

.swatches-item {
  float: left;
  width: 16%;
  break-inside: avoid;
  display: flex;
  align-items: center;
  padding-bottom: 1px;
  position: relative;
}

.swatches-swatch {
  width: 15px;
  height: 15px;
  margin: 0 0.5em 0 0;
}

.layout {
  display: flex;          
  align-items: flex-start; 
}

.controls {
  display: flex;
  flex-direction: column; /* stack labels*/
  margin-right: 20px;     
  margin-left: 20px; 
}

.controls label {
  margin-top: 10px;
  margin-bottom: 5px;
}

.controls select {
  margin-bottom: 15px;
}

/*.swatche-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 15px - 0.5em);
}*/